/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
  font-family: 'Hurme', system-ui, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, 'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.page-content p,
.post-content p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.page-hero {
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  position: relative;
}

.page-hero .overlay {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.page-hero .page-title {
  position: relative;
}

#home-hero::before {
  background-image: url(../assets/images/hero-b.jpg);
}
#home-projects::before {
  background-image: url(../assets/images/hero-c.jpg);
}
#home-events::before {
  background-image: url(../assets/images/hero-a.jpg);
}

.home-section::before {
  background-size: cover;
  background-attachment: fixed;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}

.home-section {
  overflow: hidden;
  position: relative;
}

.home-section::after {
  background-color: #ffffff;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

/** Header styles **/

#branding #logo {
  height: 40px;
}

/** Navigation styles **/

#main-nav .nav-item {
  position: relative;
}

#main-nav .nav-dropdown {
  position: absolute;
}

/** Tab styles **/

.tab-nav a {
  @apply items-center text-center border-b-4 border-grey text-grey font-semibold py-2 px-4;
  transition: all 0.3s ease-in;
}

.tab-nav a:hover {
  @apply border-grey-darker text-grey-darker bg-grey-lighter;
}

.tab-nav a.active {
  @apply border-apprimary text-apprimary pointer-events-none;
}

/** Round image styles **/
.round-image {
  @apply w-full rounded-full bg-cover;
  flex: 1 0 auto;
}

.round-image:before {
  content: '';
  display: block;
  padding-top: 100%; /* ratio of 1:1*/
}

/* #menu-header-menu {
  @apply list-reset;
}

#menu-header-menu .menu-item {
  @apply inline-block;
  position: relative;
}

#menu-header-menu .menu-item a {
  @apply block w-full ml-8 text-grey;
}

#menu-header-menu .menu-item a:hover {
  @apply text-apprimary
}

#menu-header-menu .menu-item .sub-menu {
  @apply list-reset ml-8 p-2 z-10 bg-white shadow;
  position: absolute;
}

#menu-header-menu .menu-item .sub-menu li {
  @apply block p-2;
}

#menu-header-menu .menu-item .sub-menu li:hover {
  @apply bg-grey-lighter;
}

#menu-header-menu .menu-item .sub-menu li a {
  @apply ml-0 p-0 text-grey;
}

#menu-header-menu .menu-item .sub-menu li a:hover {
  @apply text-apprimary
} */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
